
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ink free, cursive, "Poppins", sans-serif;
  }
  body {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(
      to bottom right,
      var(--primary),
      25%,
      var(--secondary)
    );
  }

  :root {
    --primary: #a7d3fc;
    --secondary: #240736;
  }